@model IEnumerable<MENU_RESTO_BAR_6.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}


<div class="menu-group">
<h2>Reservas</h2>
<p>
(Si no tienes un usuario debes registrate para hacer una reserva)
<br/>
<a href="@Url.Action("Create", "Usuarios")" class="btn btn-primary">Crear Una Cuenta</a>
<br/>
<a href="@Url.Action("Create", "Reservas")" class="btn btn-primary">Haz tu reserva aquí</a>
<br/>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>