@model IEnumerable<MENU_RESTO_BAR_6.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<div class="menu-group">
<h1>Nuestro Menu</h1>
    <a href="@Url.Action("Index", "Reservas")" class="btn btn-primary">Reservar ahora</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductoId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>